AIO_BRANCH=bundle
SD_HTTP_FILE_ROOT=./aistudio/dist
SD_HTTP_PROXY_1=flyingdog:www.flyingdog.de
SD_NSFW_BEHAVIOUR=flag
SD_VRAM_OPTIMISATION_LEVEL=3
SD_HTTP_PORT=5000
SD_ENGINECFG=./gyreconfig/engines.yaml
SD_LOCAL_RESOURCE_1=lora;./local_resources/lora
SD_LOCAL_RESOURCE_2=embedding;./local_resources/embeddings
